<html>
    <head>
        <title> An example: blog </title>
    </head>
    
    <body>
        <div>
            <h1><a href="">An example with django: a blog</a></h1><br>
        </div>

        <div>
            <p>Published on August, 2018, 12:15</p>
            <h2><a href="">My first post</a></h2>
            <p> What do you want to say?</p><br>
        </div>

        <div>
            <p>Published on November, 2018, 17:00</p>
            <h2><a href="">The post!</a></h2>
            <p><b>My little thing...</b></p>
        </div>
    </body>
    
</html>